<div th:replace="~{admin/header-admin}"></div>

<header class="ex-header mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1 class="text-center">Create User</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header>

<div class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="form-container">
                <form th:action="@{/manageUsers/create}" th:object="${user}" method="post">

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" th:field="*{username}" required>
                    </div>

                    <div class="mb-3">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullName" th:field="*{fullName}" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}" required>
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
                    </div>

                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-select" id="role" th:field="*{role}">
                            <option th:each="roleOpt : ${availableRoles}" th:value="${roleOpt}"
                                th:text="${roleOpt.name()}" th:selected="${roleOpt == user.role}">
                            </option>
                        </select>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a th:href="@{/manageUsers}" class="btn btn-secondary me-md-2">Cancel</a>
                        <button type="submit" class="btn btn-primary">Create User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{admin/footer-admin}"></div>