<div th:replace="~{header}"></div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Create Children</h3>
            <form th:action="@{/children/create}" th:object="${children}" method="post">
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" required>
                </div>
                <div class="mb-3">
                    <label for="birthDate" class="form-label">Birth Date</label>
                    <input type="date" class="form-control" id="birthDate" name="birthDate" required>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option th:each="genderOpt : ${availableGenders}" th:value="${genderOpt}"
                            th:text="${genderOpt.name()}" th:selected="${genderOpt == children.gender}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>


<div th:replace="~{footer}"></div>